.cards {
    margin-block: 1rem;
}

.card {
    h2 {
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.2em;
    }

    p {
        font-weight: 400;
        font-size: 0.8rem;
        opacity: 0.9;
    }

    small {
        opacity: 0.8;
    }
}

.header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(149, 157, 165, 0.4);
}

.info {
    display: flex;
    justify-content: space-between;
}

.cords {
    p {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 10ch;
    }
}

.measure {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    h3::after {
        content: ' -';
    }
}